/*  styling info for INTS widgets */

    body {
       width: 1600px;
    }
    #networkReset {
       width: 100px;
       margin: 4px;
    }
    #search_box input {
       float: right;
    }
    #node_shape .shape { background: #fff url("/INT/images/node_shapes.png") center center no-repeat; height: 50px; width: 50px;}
    #node_shape .shape.parallelogram { background-position: 0 0; }
    #node_shape .shape.ellipse { background-position: -50px 0; }
    #node_shape .shape.triangle { background-position: -100px 0; }
    #node_shape .shape.octagon { background-position: -150px 0; }
    #node_shape .shape.diamond { background-position: -200px 0; }
    #node_shape .shape.roundrect { background-position: -250px 0; }
    #node_shape .shape.rectangle { background-position: -300px 0; }
    #node_shape .shape.hexagon { background-position: -350px 0; }
    #node_shape .shape.vee { background-position: -400px 0; }   

    #edge_style .shape { background: #fff url("/INT/images/arrow_shape_transparent.png") center center no-repeat; height: 50px; width: 50px; }
    #edge_style .shape.diamond { background-position: 0 0; background-color: #773300;}
    #edge_style .shape.delta { background-position: -50px 0; }
    #edge_style .shape.arrow { background-position: -100px 0; background-color: #000000; }
    #edge_style .shape.circle { background-position: -150px 0; }
    #edge_style .shape.t { background-position: -200px 0; }
    #edge_style .shape.none { background-position: -250px 0;}
    #edge_style .shape.none_th { background-position: -250px 0; background-color: #CCCCCC; }
    #edge_style .shape.none_phys { background-position: -250px 0; background-color: #6262FC; }

    #sidebar .ui-accordion .ui-accordion-content {
      padding: 1.0em 0.2em;
    }

#gene_info_tabs div.ui-tabs-panel { padding: 0.1em; }
table.summary_mini {
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: auto;
}
html > body table.summary_mini {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
table.summary_mini th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D9E2F8;
    font-weight: bold;
    margin: 0;
    min-width: 90px;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    width: 90px;
}
table.summary_mini td {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    margin: 0;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    width: auto;
}

     .property input.colour_sample_bg {
       background-image:url("/INT/images/input_for_colour_picker/bg.png");
       background-position:right center;
       background-repeat:repeat-y;
    }
    input, button, textarea, select {
       -moz-border-radius:4px 4px 4px 4px;
       border:1px solid #C1C1C1;
       font-family:Helvetica,Arial,Verdana,sans-serif;
       font-size:100%;
       padding:0.25em;
       width: 5.5em;
    } 
    .floating_widget {
        -moz-border-radius:4px 4px 4px 4px;
	-moz-box-shadow:0 0 50px #BBBBBB;
  	background:none repeat scroll 0 0 rgba(54, 54, 54, 0.8);
        z-index:9999;
    }
    #colour_picker {
        clear:both;
    	height:200px;
    	width:200px;
    }
    #colour_picker .header {
        left:0;
    	position:absolute;
    	top:0;
    	z-index:1;
    }
    .farbtastic .wheel {
        background:url("/INT/images/farbtastic/wheel.png") no-repeat scroll 0 0 transparent;
    	height:195px;
    	width:195px;
    }
    .farbtastic .overlay {
    	background:url("/INT/images/farbtastic/mask.png") no-repeat scroll 0 0 transparent;
    }
    .farbtastic .marker {
    	background:url("/INT/images/farbtastic/marker.png") no-repeat scroll 0 0 transparent;
    	height:17px;
    	margin:-8px 0 0 -8px;
    	overflow:hidden;
    	width:17px;
    }
    #node_color label.style {
        font-size: 12px;
	display: block
    }
    #nodes_color label.style_head {
        font-size: 12px;
	font-weight: bold;
    }
    #color_all_nodes { 
        border:2px solid #C1C1C1;
        width: 7em;
    }
    #net_stats {
        display: block;
	padding: 6px;
    }
    #net_stats span {
        padding: 0px 8px;
    }
    .ui-validation-error {
        background:none repeat scroll 0 0 #FFECEC !important;
	border-color:#FF0000 !important;
    }
    .ui-validation-error:focus {
        -moz-box-shadow:0 0 5px #FF0000 !important;
    }
    .ui-validation-error-message {
    	color:#FF0000;
    }
